@font-face {
    font-family: 'heading';
    src: url('./../../fonts/SuperBrigadeTitle-axXKE.otf');
}
.full_page_home{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/space.jpg');
}
.heading_home{
    color: white;
    font-size: 80px;
    font-family: 'heading';
    text-shadow: 3px 3px 0px greenyellow;
}
.home_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* border: 2px solid white; */
    border-radius: 20px;
    /* box-shadow: 3px 3px greenyellow; */
    text-align: center;
}
.typeit{
    color: greenyellow;
    font-family: 'heading';
    font-size: 25px;
}
.arrow{
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow:hover{
    border:2px solid green;
    transform: scale(1.1);
}
.arrow:active{
    transform: scale(0.8);
}
.iconrocket{
    font-size: 40px;
}

@media (max-width:830px){
    .heading_home{
        font-size: 60px;
    }
    .iconrocket{
        font-size: 30px;
    }
    .arrow{
        height: 80px;
        width: 80px;
    }
}
@media (max-width:640px){
    .heading_home{
        font-size: 40px;
    }
    .iconrocket{
        font-size: 30px;
    }
    .arrow{
        height: 60px;
        width: 60px;
    }
    .typeit{
        font-size: 17px;
    }
}

@media (max-width:435px){
    .heading_home{
        font-size: 35px;
        text-shadow: 2px 2px 0px greenyellow;
        /* margin-top: -30px; */
    }
    .iconrocket{
        font-size: 30px;
    }
    .arrow{
        height: 60px;
        width: 60px;
    }
    .typeit{
        font-size: 15px;
    }
}