@font-face {
    font-family: 'heading';
    src: url('./../../fonts/SuperBrigadeTitle-axXKE.otf');
}

.ps_full_page{
    min-height: 100vh;
    height:auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/space.jpg');
    /* padding: 20px; */
}

.psHeading{
    color: white;
    font-family: 'heading';
    color: greenyellow;
}

.ps_card_space{
    /* border: 2px solid white; */
    padding: 20px;
    color: white;
}
.input_search{
    font-size: 17px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.search_btn{
    font-size: 17px;
    background-color: purple;
    color: white;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
}
